canvas {
    display: block;
    margin: 10px 400px;
    border: 10px ridge black;
    background-image: url(picture/hoshi.jpg);
    background-size:100% 100%;



}

.header{
    color:orange;
    font-size:40px;
}
.sidebar li{
    background-color:cyan;
    width:100px;
    height:40px;
    margin:30px 15px;
    padding:20px;
    float:left;
}